[v-cloak] {display: none}

body {
    background: #e2e1e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container {
    margin-left: 2%;
    margin-right: 40%;
}

section {
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

table:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    background-color: #018786;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: fixed;
    top: 15%;
    margin-left: 62%;
    margin-right: 5%;
    width: 30%;
    background-color: #ffffff;
    padding: 2%;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #018786;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #018786;
    color: white;
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a.first::after {
    content:'...'
}

.pagination a.last::before {
    content:'...'
}

.pagination a.current {
    background-color: #018786;
    color: #ffffff;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #018786;
    color: #ffffff;
}
